@model IEnumerable<BlockTechMVC.Models.CriptomoedaHoje>

@{
    ViewData["Title"] = "Criptomoedas em Tempo Real";
}
<h1>@ViewData["Title"]</h1>

@*
    CONSUMIR DE UMA API*
    <p>
    <a asp-action="Create" class="btn btn-light">Adicionar</a>
</p>*@

<form asp-controller="CriptomoedasHoje" asp-action="Index">
    <p>
        Data: <input type="date" name="SearchDate">
        <input type="submit" value="Filtrar" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criptomoeda.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criptomoeda.Nome)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.Valor)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
