@model IEnumerable<BlockTechMVC.Models.Transacao>

@{
    ViewData["Title"] = "Transações";
}
<br />
<h1>@ViewData["Title"]</h1>
<br />

@if (User.IsInRole("Admin"))
{
    <form asp-controller="Transacoes" asp-action="Index" method="get">
        <p>
            @Html.DropDownList("Busca", null, new
            {
           onchange = "document.location.href='/transacoes/Index?Busca='+this.value;"
            })

            <input type="text" name="SearchString">
            <input type="submit" value="Filtrar" />
        </p>
    </form>
}
else
{
    <form asp-controller="Transacoes" asp-action="Index" method="get">
        <p>
            Criptomoeda:
            <input type="text" name="SearchString">
            <input type="submit" value="Filtrar" />
        </p>
    </form>
}

<div class="table-responsive">
    <table class="table">
        <caption>Lista de Transações</caption>
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.Data }, new { @class = "imgOrder" })
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.Nome }, new { @class = "imgOrder" })
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.ActionLink("Criptomoeda", "Index", new { sortOrder = ViewBag.Criptomoeda }, new { @class = "imgOrder" })
                </th>
                <th>
                    @Html.ActionLink("Valor", "Index", new { sortOrder = ViewBag.Valor }, new { @class = "imgOrder" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CriptoSaldo.Quantidade)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ContaCliente.ApplicationUser.Nome)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriptomoedaHoje.Criptomoeda.Nome)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Valor)
                </td>
                @if (User.IsInRole("Admin") || (!User.IsInRole("Adimin")))
                {
                    var valor = item.Valor;
                    var valorCriptomoedaData = item.CriptomoedaHoje.Valor;
                    var total = (valor / valorCriptomoedaData).ToString("F6");
                    <td> @total  </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>