
@{
    ViewData["Title"] = "Investimentos";

    var bitcoinQuantidade = ViewBag.QuantidadaTotalBitcoin;
    var bitcoinValorReal = ViewBag.QuantidadaEmRealBitcoin;
    var bitcoinInvestimento = Convert.ToDouble(ViewBag.ValorInvestidoBitcoin);

    var ethereumQuantidade = ViewBag.QuantidadaTotalEthereum;
    var ethereumValorReal = ViewBag.QuantidadaEmRealEthereum;
    var ethereumInvestimento = Convert.ToDouble(ViewBag.ValorInvestidoEthereum);

    var bitcoinCashQuantidade = ViewBag.QuantidadaTotalBitcoinCash;
    var bitcoinCashValorReal = ViewBag.QuantidadaEmRealBitcoinCash;
    var bitcoinCashInvestimento = Convert.ToDouble(ViewBag.ValorInvestidoBitcoinCash);

    var xrpQuantidade = ViewBag.QuantidadaTotalXrp;
    var xrpValorReal = ViewBag.QuantidadaEmRealXrp;
    var xrpInvestimento = Convert.ToDouble(ViewBag.ValorInvestidoXrp);

    var paxGoldQuantidade = ViewBag.QuantidadaTotalPaxGold;
    var paxGoldValorReal = ViewBag.QuantidadaEmRealPaxGold;
    var paxGoldInvestimento = Convert.ToDouble(ViewBag.ValorInvestidoPaxGold);

    var litecoinQuantidade = ViewBag.QuantidadaTotalLitecoin;
    var litecoinValorReal = ViewBag.QuantidadaEmRealLitecoin;
    var litecoinInvestimento = Convert.ToDouble(ViewBag.ValorInvestidoLitecoin);

    var saldoSemInvestimento = Convert.ToDouble(ViewBag.SaldoSemInvestimento);
    var dinheiroTotalContaRS = Convert.ToDouble(ViewBag.DinheiroTotalContaRS);

    var investido = (dinheiroTotalContaRS - saldoSemInvestimento);

    //Adm
    var Bitcoin = Convert.ToDouble(ViewBag.Bitcoin);
    var BitcoinRS = ViewBag.BitcoinValorRS;

    var Ethereum = Convert.ToDouble(ViewBag.Ethereum);
    var EthereumRS = ViewBag.EthereumValorRS;

    var BitcoinCash = Convert.ToDouble(ViewBag.BitcoinCash);
    var BitcoinCashRS = ViewBag.BitcoinCashValorRS;

    var Litecoin = Convert.ToDouble(ViewBag.Litecoin);
    var LitecoinRS = ViewBag.LitecoinValorRS;

    var PaxGold = Convert.ToDouble(ViewBag.PaxGold);
    var PaxGoldRS = ViewBag.PaxGoldValorRS;

    var Xrp = Convert.ToDouble(ViewBag.Xrp);
    var XrpRS = ViewBag.XrpValorRS;

}

@if (User.IsInRole("Admin"))
{
    <a asp-action="Index" class="btn btn-outline-dark menu">Investimentos</a>
    <a asp-action="Bitcoin" class="btn btn-outline-dark menu">Bitcoin</a>
    <a asp-action="Ethereum" class="btn btn-outline-dark menu">Ethereum</a>
    <a asp-action="BitcoinCash" class="btn btn-outline-dark menu">Bitcoin Cash</a>
    <a asp-action="Xrp" class="btn btn-outline-dark menu">XRP</a>
    <a asp-action="PaxGold" class="btn btn-outline-dark menu">PAX Gold</a>
    <a asp-action="Litecoin" class="btn btn-outline-dark menu">Litecoin</a>
    <br />
    <br />
    <h1 class="text-center">Investimento Total</h1>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 criptomoedasImg">
                <div class="simboloCripto">
                    <img src="~/images/Bitcoin.png" alt="Símbolo da criptomoeda Bitcoin" />
                </div>
                <div>
                    <h3>Bitcoin</h3>
                    <h5>Quantidade: @Bitcoin</h5>
                    <h5>Investido: R$ @BitcoinRS</h5>
                </div>
            </div>
            <br />
            <br />
            <div class="col-12 col-md-6 criptomoedasImg">
                <div class="simboloCripto">
                    <img src="~/images/Ethereum.png" alt="Símbolo da criptomoeda Ethereum" />
                </div>
                <div>
                    <h3>Ethereum</h3>
                    <h5>Quantidade: @Ethereum</h5>
                    <h5>Investido: R$ @EthereumRS</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 criptomoedasImg">
                <div class="simboloCripto">
                    <img src="~/images/BitcoinCash.png" alt="Símbolo da criptomoeda Bitcoin Cash" />
                </div>
                <div>
                    <h3>Bitcoin Cash</h3>
                    <h5>Quantidade: @BitcoinCash</h5>
                    <h5>Investido: R$ @BitcoinCashRS</h5>
                </div>
            </div>
            <br />
            <div class="col-12 col-md-6 criptomoedasImg">
                <div class="simboloCripto">
                    <img src="~/images/Litecoin.png" alt="Símbolo da criptomoeda Litecoin" />
                </div>
                <div>
                    <h3>Litecoin</h3>
                    <h5>Quantidade: @Litecoin</h5>
                    <h5>Investido: R$ @LitecoinRS</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 criptomoedasImg">
                <div class="simboloCripto">
                    <img src="~/images/PaxGold.jpg" alt="Símbolo da criptomoeda PAX Gold" />
                </div>
                <div>
                    <h3>PAX Gold</h3>
                    <h5>Quantidade: @PaxGold</h5>
                    <h5>Investido: R$ @PaxGoldRS</h5>
                </div>
            </div>
            <br />
            <br />
            <div class="col-12 col-md-6 criptomoedasImg">
                <div class="simboloCripto">
                    <img src="~/images/Xrp.png" alt="Símbolo da criptomoeda XRP" />
                </div>
                <div>
                    <h3>XRP</h3>
                    <h5>Quantidade: @Xrp</h5>
                    <h5>Investido: R$ @XrpRS</h5>
                </div>
            </div>
        </div>
    </div>
}

@if (!User.IsInRole("Admin"))
{
    <div class="flex-row">

        <a asp-action="Index" class="btn btn-outline-dark">Investimentos</a>
        @if (bitcoinInvestimento > 0)
        {
            <a asp-action="Bitcoin" class="btn btn-outline-dark">Bitcoin</a>
        }
        @if (ethereumInvestimento > 0)
        {
            <a asp-action="Ethereum" class="btn btn-outline-dark">Ethereum</a>
        }
        @if (bitcoinCashInvestimento > 0)
        {
            <a asp-action="BitcoinCash" class="btn btn-outline-dark">Bitcoin Cash</a>
        }
        @if (xrpInvestimento > 0)
        {
            <a asp-action="Xrp" class="btn btn-outline-dark">XRP</a>
        }
        @if (paxGoldInvestimento > 0)
        {
            <a asp-action="PaxGold" class="btn btn-outline-dark">PAX Gold</a>
        }
        @if (litecoinInvestimento > 0)
        {
            <a asp-action="Litecoin" class="btn btn-outline-dark">Litecoin</a>
        }
    </div>
    <br />
    <h2 class="text-center">Investimento Atual</h2>
    <br />
    <h5>Saldo BlockTech: R$ @saldoSemInvestimento</h5>
    <h5>Meu investimento: R$ @investido</h5>
    <h5>Total na Conta: R$ @dinheiroTotalContaRS</h5>
    <br />

    <div class="container">
        <div class="row">
            @if (bitcoinInvestimento > 0)
            {
                <div class="col-12 col-md-6 criptomoedasImg">
                    <div class="simboloCripto">
                        <img src="~/images/Bitcoin.png" alt="Símbolo da criptomoeda Bitcoin" />
                    </div>
                    <div>
                        <h5>Quantidade de Bitcoin: @bitcoinQuantidade</h5>
                        <h5>Investido: R$ @bitcoinInvestimento</h5>
                        <h5>Valor Atual: R$ @bitcoinValorReal</h5>
                    </div>
                </div>
            }
            @if (ethereumInvestimento > 0)
            {
                <div class="col-12 col-md-6 criptomoedasImg">
                    <div class="simboloCripto">
                        <img src="~/images/Ethereum.png" alt="Símbolo da criptomoeda Ethereum" />
                    </div>
                    <div>
                        <h5>Quantidade de Ethereum: @ethereumQuantidade</h5>
                        <h5>Investido: R$ @ethereumInvestimento</h5>
                        <h5>Valor Atual: R$ @ethereumValorReal</h5>
                    </div>
                </div>
            }
            @if (bitcoinCashInvestimento > 0)
            {
                <div class="col-12 col-md-6 criptomoedasImg">
                    <div class="simboloCripto">
                        <img src="~/images/BitcoinCash.png" alt="Símbolo da criptomoeda Bitcoin Cash" />
                    </div>
                    <div>
                        <h5>Quantidade de Bitcoin Cash: @bitcoinCashQuantidade</h5>
                        <h5>Investido: R$ @bitcoinCashInvestimento</h5>
                        <h5>Valor Atual: R$ @bitcoinCashValorReal</h5>
                    </div>
                </div>
            }
            @if (xrpInvestimento > 0)
            {
                <div class="col-12 col-md-6 criptomoedasImg">
                    <div class="simboloCripto">
                        <img src="~/images/Xrp.png" alt="Símbolo da criptomoeda XRP" />
                    </div>
                    <div>
                        <h5>Quantidade de XRP: @xrpQuantidade</h5>
                        <h5>Investido: R$ @xrpInvestimento</h5>
                        <h5>Valor Atual: R$ @xrpValorReal</h5>
                    </div>
                </div>
            }
            @if (paxGoldInvestimento > 0)
            {
                <div class="col-12 col-md-6 criptomoedasImg">
                    <div class="simboloCripto">
                        <img src="~/images/PaxGold.jpg" alt="Símbolo da criptomoeda PAX Gold" />
                    </div>
                    <div>
                        <h5>Quantidade de PAX Gold: @paxGoldQuantidade</h5>
                        <h5>Investido: R$ @paxGoldInvestimento</h5>
                        <h5>Valor Atual: R$ @paxGoldValorReal</h5>
                    </div>
                </div>
            }
            @if (litecoinInvestimento > 0)
            {
                <div class="col-12 col-md-6 criptomoedasImg">
                    <div class="simboloCripto">
                        <img src="~/images/Litecoin.png" alt="Símbolo da criptomoeda Litecoin" />
                    </div>
                    <div>
                        <h5>Quantidade de Litecoin: @litecoinQuantidade</h5>
                        <h5>Investido: R$ @litecoinInvestimento</h5>
                        <h5>Valor Atual: R$ @litecoinValorReal</h5>
                    </div>
                </div>
            }
        </div>
    </div>
}