@model IEnumerable<BlockTechMVC.Models.Transacao>

@{
    ViewData["Title"] = "Aplicações";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContaCliente.ApplicationUser.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriptoSaldo.Criptomoeda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriptoSaldo.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContaCliente.ApplicationUser.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriptoSaldo.Criptomoeda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriptoSaldo.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
            </td>
        </tr>
}
    </tbody>
</table>
