@model IEnumerable<BlockTechMVC.Models.ContaCliente>

@{
    ViewData["Title"] = "Conta";
}

<h1>@ViewData["Title"]</h1>

<br />

<div class="table-responsive">
    <table class="table table-hover">
        @if (User.IsInRole("Admin"))
        {
            <caption>Informações das Contas</caption>

        }
        else
        {
            <caption>Informações da Conta</caption>
        }
        @*acessibilidade*@
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataAbertura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroConta)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Conta.Banco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conta.Agencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conta.NumeroConta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conta.TipoConta)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAbertura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroConta)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Conta.Banco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conta.Agencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conta.NumeroConta)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Conta.TipoConta)
                    </td>*@
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Editar</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Detalhes</a>
                        @*@if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark">Deletar</a>
                        }*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>