@model BlockTechMVC.Models.Criptomoeda

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<h1>@ViewData["Title"]</h1>
<br />
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Simbolo)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Simbolo)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Cadastro)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Cadastro)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin")) 
{
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-dark">Editar</a>
</div>
}

<div>
    <a asp-action="Index">Voltar</a>
</div>
