@model IEnumerable<BlockTechMVC.Models.Criptomoeda>

@{
    ViewData["Title"] = "Criptomoedas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Adicionar</a>
</p>

<form asp-controller="Criptomoedas" asp-action="Index" method="get">
    <p>
        Nome: <input type="text" name="SearchString">
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Simbolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Simbolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cadastro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
